{
    "fileUploadBucketName": "",
    "logLevel": "debug",
    "radiusSubscriberTableName": "",
    "radiusSubscriberTableNameArn": "arn:aws:dynamodb:<region>:<aws::AccountId>:table/<radiusSubscriberTableName>",
    "radiusSubscriberTableRegion": "<AWS::region>"
}
